<!-- inicio plantilla mision_vision -->
{% load static %}
{% block content %}
<div class="container-fluid py-5" id="about" >
    <div class="container">
        <div class="position-relative d-flex align-items-center justify-content-center mb-4">
            <h1 class="display-1 text-uppercase text-center" style="-webkit-text-stroke: 1px #dee2e6;">sobre</h1>
            <h1 class="position-absolute text-uppercase text-info text-center">Sobre Mi</h1>
        </div>
        <div class="row align-items-center">
            <div class="col-lg-5 pb-4 pb-lg-0">
                <img class="img-fluid rounded w-100" src="{{portada.imagen.url}}" alt="">
            </div>
            <div class="col-lg-7">
                <h3 class="mb-4">Ingeniero de sistemas</h3>
                <p>Apasionado a la programacion y el desarrollo de software. He llevado a cabo varios proyectos de forma educativa y profecional.</p>
                <div class="row mb-3">
                    <div class="col-sm-6 py-2"><h6>Nombre: <span class="text-secondary">Andres Mogollon</span></h6></div>
                    <div class="col-sm-6 py-2"><h6>Edad: <span class="text-secondary">{{anio}}</span></h6></div>
                    <div class="col-sm-6 py-2"><h6>Telefono: <span class="text-secondary">+57 3042540470</span></h6></div>
                    <div class="col-sm-6 py-2"><h6>Correo: <span class="text-secondary">andresmogollob@gmail.com</span></h6></div>
                </div>
                <a href="https://github.com/andrekasjas" target="_blank" class="btn btn-outline-info mr-4">
                        <i class="fab fa-instagram">
                        </i>
                        GitHub
                    </a>
                <a href="https://www.linkedin.com/in/andr%C3%A9s-fernando-mogollon-cabeza-385253234" target="_blank" class="btn btn-outline-info">
                    <i class="fab fa-linkedin">
                    </i>
                    Linkedin</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
<!-- fin plantilla mision_vision -->