<!-- inicio plantilla ubicacion -->
{% load static %}
{% block content %}
{% if educaciones or experiencias %}
<div class="container-fluid py-5" id="ubicacion">
    <div class="container">
        <div class="position-relative d-flex align-items-center justify-content-center mb-4">
            <h1 class="display-1 text-uppercase text-center" style="-webkit-text-stroke: 1px #dee2e6;">Calidad</h1>
            <h1 class="position-absolute text-uppercase text-info text-center">Educación y experiencia</h1>
        </div>
        <div class="row">
            {% if educaciones %}
            <div class="col-lg-6">
                <h3 class="mb-4">Educación</h3>
                <div class="border-left border-primary pt-2 pl-4 ml-2">
                    {% for educacion in educaciones%}
                    <div class="position-relative mb-4">
                        <i class="far fa-dot-circle text-primary position-absolute" style="top: 2px; left: -32px;"></i>
                        <h5 class="font-weight-bold mb-1">{{educacion.nombre}}</h5>
                        <p class="mb-2">
                            <strong>{{educacion.institucion}}</strong> | <small>{{educacion.inicio}} - {% if educacion.fin %} {{educacion.fin}} {% else %} Actual {%endif%}</small>
                        </p>
                        <p>{{educacion.descripcion}}</p>
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endif %}
            {% if experiencias %}
            <div class="col-lg-6">
                <h3 class="mb-4">Experiencia</h3>
                <div class="border-left border-primary pt-2 pl-4 ml-2">
                    {% for experiencia in experiencias%}
                    <div class="position-relative mb-4">
                        <i class="far fa-dot-circle text-primary position-absolute" style="top: 2px; left: -32px;"></i>
                        <h5 class="font-weight-bold mb-1">{{experiencia.nombre}}</h5>
                        <p class="mb-2">
                            <strong>{{experiencia.institucion}}</strong> | <small>{{experiencia.inicio}} - {% if experiencia.fin %} {{experiencia.fin}} {% else %} Actual {%endif%}</small>
                        </p>
                        <p>{{experiencia.descripcion}}</p>
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endif %}
{% endblock %}
<!-- fin plantilla ubicacion -->